<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Arabic Mubeen</title>
 <!-- <link rel="stylesheet" href="/public/css/landing.css">-->
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/node_modules/dropzone/dist/dropzone.css">
<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon"> 

<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>

<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/node_modules/dropzone/dist/dropzone.js"></script>

<script src="/public/js/users.js"> </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  
  {{{body}}}
 
</body>
</html>



