<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
<div class="row">
 <div class="col-md-6">
 <h3>Oops!, something went wrong. Please try to refresh the page</h3><br><br>
 <button class="btn btn-info" id="error404-btn">refresh</button>
 </div>


</div>

<script>
  $(document).ready(function(){
   $('#error404-btn').on('click', function(){
       reload();
   });
  
  
  });



</script>