<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">

{{> header}}
<div class="container">
<h2>Clear Arabic or Arabic Mubeen</h2><hr><br>

<div class="row">

<div class="col-md-12">
  
      <img src="/public/images/ramadan01.jpg" class="main-pic">
      </div>


    
</div>


<div class="row">
<div class="col-md-6">
    <h3>Learning Arabic has already been done.</h3><br>
    <p>There are literally millions of videos, articels, courses, pictures, websites,and apps that
      are designed to teach one the Arabic language. Learning Arabic according to most sources, rank Arabic among the hardest languages to learn.
        <a href="http://www.businessinsider.com/the-hardest-languages-to-learn-2014-5">The Business Insider</a>
        Ranks Arabic among the 4 hardest languages to learn for English speakers. With that being said, with the advancement of technology and the accessability to information that the technology provides
        , learning Arabic has never been easier.
        
        </p>
        <br>
        <p> Why try and re-invent the wheel? All of those videos that exist today are not all comprehensible. Some make things way more complicated that needs be to start off.

          
          We have done the research and spent the hours searching for the most comprehensive and effective learning reasources from the web.
         




        </p>
         <br>
  
     <p>This course is designed to give you the ability to read the Arabic Quran. This course is mainly intended for those who want to read one of the divine revalations of Islam, The Quran.
        No matter the reason for wanting to learn this beautiful language, the Arabic Quran is a literary marvel. For those who are completely new to the Arabic Quran and have stumbled upon this site, the Arabic Quran is not so much read as it is recited.
        


     </p><br>

     <h3>Here is an example of the Quran being recited.</h3>
   <div class="sound-files">
   <audio  controls="controls"
  src="http://www.all-quran.com/documents/Ahmad-Al-Ajmi/Ahmad-Al-Ajmi_files/078.mp3"
 >
  Your browser does not support the <code>audio</code> element.
</audio><br>
<p>This audio file was taken from: </p>
<a href="http://www.all-quran.com/documents/Ahmad-Al-Ajmi/Ahmad-Al-Ajmi_files/078.mp3">all-quran.com</a>
     </div>
       <br>
       <hr>
       <h2>Course Outline</h2>
       <br>
       <table class="table">
         <th>LEVEL 1</th>
         <th>LEVEL 2</th>
         <th>LEVEL 3</th>
         <tr><td>Basics of the Alphabet</td><td>Vowels</td><td>Intro Level 3</td></tr>
         <tr><td>Letters continued</td><td>Vowel and letter recognition</td><td>Word exercises</td></tr>
         <tr><td>Letters continued</td><td>Putting it all together</td><td>More complex words</td></tr>
         <tr><td>Level 1 Quiz</td><td>Level 2 Quiz</td><td>Level 3 Quiz</td></tr>
         </table>
       
       <br>
       <hr>
           <h2>What  won't this course do for you?</h2>
     <ol>
      <li style="margin-bottom:8px;">This course Won't give you wings, or make you an expert in the Arabic language.</li>
         <li style="margin-bottom:8px;">If you're going to Dubia on vacation and looking to learn some Arabic to speak with the natives, this course is not for you. <img src="https://media2.giphy.com/media/TCPOxe6pEPMRy/200.webp#1-grid1"></li>
          
          <li style="margin-bottom:8px;">You won't be able to speak proper or modern Arabic</li>
          
         </ol>
       <br>

       <h2>Course recomendations</h2>
      <br>
      <p>We strongly recomend that you spend a few days or at least a few hrs using the resource videos that have been provided.
        None of us can learn a new language without knowing the alphabet. According to most research groups, in order to become proficient in Arabic, it takes thousands of hours, which translates into years of learning.
        We only ask you study along with the videos and take your time before starting the course. Learning Arabic is a marathon, not a sprint.
        So if you feel you're ready to begin the course, go ahead and register to begin or login to return to the 
        level and section where you left off at.
      </p>

      
    
       

       </div>
  
       
         
        
      
      
    

 <div class="col-md-6">
     <h2>Resource videos before course</h2>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RNK5dQvWLqg" frameborder="0" allowfullscreen></iframe>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QSLtNmRflBU" frameborder="0" allowfullscreen></iframe>
  <br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/npc2XAwyXRk" frameborder="0" allowfullscreen></iframe>

<h2 style="margin-left:7px;">Full Alphabet chart</h2>
<img src="/public/images/full_arabic_alphabet.jpg">
 <div id="paypal-button" style="float:right;"></div>


</div><!--end row-->

<div class="row">
  <div class="col-md-6">
  
  <h3>You must be logged in to advance to level 1. If not already registered, click register</p>
    <ul>
        <li><a href="/login">Log in</a></li>
        
            <li><a href="/register">Register</a></li>
          </ul>
  </div>
  </div>








<div class="row">
  <div class="col-md-10">
     <!--<img id="fathia-pic" src="/public/images/fathia.png" style="max-height:300px; min-width:80%;" alt="This is a pic of the Arabic alphabet" />-->

  <!--<h2>Here is a sample of the course approach to learning</h2>
  <div id="sample-div">
      <div class="landing-sample w3-card w3-yellow">
          <h4>Letter A</h4>
          <p>ا</p>
          <p>The Arabic letter alif is equal to the English letter a. Most Arabic letters have different form, alif is an exception to this.</p>
          </div>

           <div class="landing-sample">
          <h4>Letter B</h4>
          <p>ب</p>
          <p>The Arabic letter alif is equal to the English letter a. Most Arabic letters have different form, alif is an exception to this.</p>
          </div>

           <div class="landing-sample">
          <h4>Letter J</h4>
          <p>ج</p>
          <p>The Arabic letter alif is equal to the English letter a. Most Arabic letters have different form, alif is an exception to this.</p>
          </div>

       <button id="next" class="btn btn-success counter">Next</button>
        
      </div>


    </div>
    
    </div>-->
     
 <div id="scroll-up-message">
    <span>{{msg}}<span>

     </div>


</div><!--end container-->

<!--modal start-->
<!-- Button trigger modal -->
<button type="button"  id="sample-quiz" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Quiz
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sample Quiz</h4>
      </div>
      <div class="modal-body">
          
        <h2>How many letters are in the Arabic alphabet</h2>
        <form method="POST">
          <input type="number" id="quiz-1" class="form-control">
          <br>
          

        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" id="modal-sample" data-dismiss="modal">Save answer</button>
      </div>
    </div>
  </div>
</div>
{{> footer}}
<script>
 $(document).ready(function(){
     $('#sample-quiz').hide();
     //$('#scroll-up-message').hide();
$("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});

$("#next").click(function(){
 
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});
  var count =1;
 $('.counter').on('click', function(e){
      count++;
    
     
     if(count == 3){
         e.preventDefault();
       $('#next').hide();
       $('#sample-quiz').show();
       $('#quiz-res').hide();
     }




   
 });

 $('#modal-sample').on('click', function(e){
    var ans = $('#quiz-1').val();
     if(ans == ""){
     alert('DOnt Fuck with me');
     }

     else{
         $.ajax({
          type: 'POST',
          url: '/landing',
          data: {ans:ans},
          success: function(res){
             $('#scroll-up-message').show();  
           console.log(res);
          }

         });
     }


 });

 
  

 });



</script>