<link rel="stylesheet" href="/public/css/level1.css">
<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
{{> desktop}}
<body style="background:#2b3e50;color:white;height:1000px; margin-right:100px;">
<div class="container">
 <div class="user-stats">
          <ul>
           <li class="make-big">{{sessName}}</li>
           <li> <img class="" style="max-height:85px; max-width:125px;" src="/public/images/profiles/{{user.profilePic}}"></li>
              <li style="font-size:18px; font-weight:bold;">Level 1 Section 3</li>
              <li>Last score</li>  <li  style="padding-left:250px;" class="badge make-big">{{last_score}}</li>


          </ul>
              </div>

<div class="row">
  <div class="col-md-6">
    <h1 style="margin-left:15px;">Level 1</h1>
         <br>
         
         
          </div><!--end second col-->
    </div><!--end row-->

<div class="row">
    <div class="col-md-10">
        <div class="container">
        <h3 style="margin-left:80px; text-align:center;">Basics of the Arabic Alphabet Continued</h3>
         <br>
          
          <div id="sample-div">
      <div class="landing-sample w3-card w3-yellow">
          <h4>Letter LAM</h4>
          <p class="make-big">ل</p>
          <p>The Arabic letter LAM is equal to the English letter L. An easy way to recognize the letter is how it resembles a J in English .</p>
         <p>The hook on a LAM goes to the left, left for LAM. Easy way L =  left. Take a few moments and study the forms.</p>
         <br>

          
          <img class ="all" src="/public/images/all-lam.png" alt"full lam">
          <p>Press next to see a word in the Quran that starts with the letter LAM</p>
          </div>

            <div class="landing-sample">
          <h4>Latif</h4>
          <p class="make-big"> لطيف<span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the line hooking to the left? 
              
              The word latif means nice,courtous,pleasant. Latif is made up of 4 letters.
              lam,ta'a,ya,fa<span class="make-big">(ل ط ي ف)</span>. AL Latif is one of the names/attributes of GOD in the Quran.
              Let's look at a verse in the Quran that uses the name.<br>
              
          </p>
          <blockquote>
           <span class="make-big">لَّا تُدۡرِڪُهُ ٱلۡأَبۡصَـٰرُ وَهُوَ يُدۡرِكُ ٱلۡأَبۡصَـٰرَ‌ۖ وَهُوَ ٱللَّطِيفُ ٱلۡخَبِيرُ </span>

          </blockquote>
         
          </div>

           <div class="landing-sample">
          <h4>Letter MEEM</h4>
          <p class="make-big">م</p>
          <p>The Arabic letter MEEM is equal to the English letter M. 
             </p>
             <p>Meem doesn't look like any other letter. Meem is one of the easiest letters to recognize.</p>
                
            <br>
            <img  class="all" src="/public/images/full-meem.png" alt="all-meem">
            <br>
            <p>Notice how in all of it's forms, MEEM looks pretty much the same. Other letters kinda morph when they're in certain positions in a word.
                This constant appearance makes MEEM one of the easiest letters.
            </p>  
            <p>Press next to see a word in the Quran that starts with the letter MEEM</p>       
          </div>
           
            <div class="landing-sample">
          <h4>Ma'a</h4>
          <p class="make-big">ماء<span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the MEEM on the right side? Ma'a translates into "Water". At this point,
              you should be able to read this word. We have studied the two letters that make up the word Ma'a.
              MEEM and ALIF. The little symbol on the far left side is a hamza, we will cover the hamza in a future section.
              
              
          </p>
          <br>
          
          </div>

           <div class="landing-sample">
          <h4>Letter NOON</h4>
          <p class="make-big">ن</p>
          <p>The Arabic letter NOON is equal to the English letter N. 
              NOON only has one dot on the <span>top</span> of it. 
          </p>
         
            <p>Let's take a look at the form of the letter. </p>
            <br>
            <img  class="all" src="/public/images/all-noon.png" alt="all-noon">
            <br>
            <p>
             NOON can be confused with the letter THAL when it's in the initial form. This becomes eaiser with practice and the more one reads Arabic.

            </p>  
            <p>Press next to see a word in the Quran that starts with the letter NOON</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Naam</h4>
          <p class="make-big">نعم <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the dot on top of the line that is on the right side? Naam translates into "yes".
              Don't worry, we will have enough exercises to help you recognize the letters before the course is over.
              
          </p>
          <p>Naam is made up of 3 letters. (noon,ayn,meem)<span class="make-big"> ن ع م </span></p>
          
          <p>Again, let's take some more time to study the forms of NOON.</p>
           <img  class="all" src="/public/images/all-noon.png" alt="all-noon">
         
          </div>

          <div class="landing-sample">
          <h4>Letter WA</h4>
          <p class="make-big">و</p>
          <p>The Arabic letter WA is equal to the English letter W. WA has a few other letters that look similar to it.
              Again, it's a matter of there being any dots and their placement on the letter. WA has no dots. 
              </p>
         
            <p>When it comes to these 3 letters <span class="make-big">و ق ف </span>WA, QAF, and FA, all you have to do is look for a dot and it's placement. This is what makes the difference in the letters. </p>
            <br>
            <img  class="all" src="/public/images/full-wa.png" alt="all-wa">
            <br>
            <p>
            Interestingly, WA has no middle forms. WA is another easy letter once one grasps the concept that its a matter of dots that makes letters different.

            </p>  
            <p>Press next to see a word in the Quran that starts with the letter WA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Wahid</h4>
          <p class="make-big">واحد <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the WA on the right side? Wahid translates into "one, unique, only".
              Again, an effective way to recognize the letter WA is to remember WA has no dots. 
              
          </p>
         
          
          <p>One of the main themes of the Quran and in turn the theology of the Muslims is that GOD is Wahid(ONE).
              Let's finish this section with the other two letters that resemble WA.
          </p>
           
         
          </div>

          <div class="landing-sample">
          <h4>Letter FA</h4>
          <p class="make-big">ف</p>
          <p>The Arabic letter FA is equal to the English letter F. 
              FA only has one dot on the <span>top</span> of it. 
          </p>
         
            <p>Let's take a look at the forms of the letter. </p>
            <br>
            <img  class="all" src="/public/images/all-fa.png" alt="all-fa">
            <br>
            
            <p>Press next to see a word in the Quran that starts with the letter FA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Fakir</h4>
          <p class="make-big">فقر <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the FA on the right side? Faqr translates into "poor, poverty".
              Again, an effective way to recognize the letter FA is to remember FA has one dot on the <span>TOP</sapn>. 
              
          </p>
         
          
          <p>You will find this word and it's other forms in the Quran often, as the Most High is concerned that the believers give the due rights to the Faqr(poor).
          </p>
           
         
          </div>


          <div class="landing-sample">
          <h4>Letter QAF</h4>
          <p class="make-big">ق</p>
          <p>The Arabic letter QAF is equal to the English letter Q. 
              QAF has two dots on the <span>TOP</span> of it. 
          </p>
         
            <p>Let's take a look at the form of the letter. </p>
            <br>
            <img  class="all" src="/public/images/all-qaf.png" alt="all-fa">
            <br>
            
            <p>Press next to see a word in the Quran that starts with the letter QAF</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Qamar</h4>
          <p class="make-big">قمر <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the QAF on the right side? Qamar translates into "moon".
              Again, an effective way to recognize the letter QAF is to remember QAF has two dots on the <span>TOP</sapn>. 
              
          </p>
         <br>
          
          <p>Let's take a break and listen to some of the Quran. There is a chapter of the Quran named QAF as well as Qamar(Moon).
              Here is a beautiful recital of surah Qamar(moon).
          </p>
           <iframe width="537" height="315" src="https://www.youtube.com/embed/JhtuJFnK0Iw" frameborder="0" allowfullscreen></iframe>
         
          </div>


       <button style="margin-left:560px;" id="next" class="btn btn-info counter">Next</button>
       <a href="/level1/quiz3" id="quiz3-link" class="btn btn-success">Quiz</a>
        
      </div>
    
    </div>
        </div>

    </div>



      </body>

     


    

   
 





 
<script>
 $(document).ready(function(){
     $('#sample-quiz').hide();
     $('#quiz3-link').hide();
     //$('#scroll-up-message').hide();
$("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});

$("#next").click(function(){
 
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});
  var count =1;
 $('.counter').on('click', function(e){
      count++;
    
     
     if(count == 12){
         e.preventDefault();
       $('#next').hide();
       $('#quiz3-link').show();
       //$('#next').attr('id', 'q1');
       
     }

 


   
 });

 







 });



</script>




          
     

