<link rel="stylesheet" href="/public/css/level1.css">
<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>

{{> desktop}}

<div class="alert alert-info fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Congratulations on making it to level3 and the final section, {{sessName}}!</strong>
<h4>This is the final assesment of the course.</h4>
<p>Making it this far, is due to you already demonstrating you being able to read Arabic.</p>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lr-6 col-xs-6">

 <div id="sample-div" style="float:left;margin-top:35px;" >

  <div class="landing-div">
        <p class="final-ps">What is the correct transliteration  <span class="make-big">وَيَقۡطَعُونَ مَآ أَمَرَ ٱللَّهُ</span>?</p>
        <p class="trans-control letters" id="wrong">Yukhaadi'oonal amaral laaha allahu</p>
         <p class="trans-control letters" id="correct">wa yaqt'oona maaa amaral laahu</p>
          <p class="trans-control letters" id="wrong">wa lahum 'azaabun aleemum allahu </p>
        </div>

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p>  <span class="make-big" style="margin-left:10px;">فَأَنزَلۡنَا عَلَى ٱلَّذِينَ ظَلَمُواْ </span>
        <p class="trans-control letters" id="correct">fa anzalnaa 'alal lazeena zalamoo</p>
         <p class="trans-control letters" id="wrong">qultum yaa Moosaa lan nu'mina laka</p>
          <p class="trans-control letters" id="wrong"> faqulnaa lahum koonoo khaasi'een </p>
        </div>
 

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p>    <span class="make-big" style="margin-left:10px;">ٱلرَّحۡمَـٰنِ ٱلرَّحِيمِ</span>
        <p class="trans-control letters" id="correct">arrahmani arrahim</p>
         <p class="trans-control letters" id="wrong">innal lazeena kafaroo </p>
          <p class="trans-control letters" id="wrong">lahum koonoo khaasi'een </p>
        </div>


 <!--end q3-->

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">كَذَٲلِكَ يُحۡىِ</span>
        <p class="trans-control letters" id="wrong">Qaalud-'u lanaa rabaaka</p>
         <p class="trans-control letters" id="wrong">kafaroo kuntum taktumoon </p>
          <p class="trans-control letters" id="correct"> kazaalika yuhyi </p>
        </div>

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">وَمَلَـٰٓٮِٕڪَتِهِۦ وَرُسُلِهِ</span>
        <p class="trans-control letters" id="wrong">Wadda kaseerum min ahlil</p>
         <p class="trans-control letters" id="wrong">wal ard wa maa lakum </p>
          <p class="trans-control letters" id="correct">wa malaaa'ikatihee wa Rusulihee </p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">قَالُوٓاْ أَتَجۡعَلُ فِيہَا مَن يُفۡسِدُ</span>
        <p class="trans-control letters" id="wrong">yadriba masalam maa ba'oodatan</p>
         <p class="trans-control letters" id="correct">qaalooo ataj'alu feehaa mai yufsidu</p>
          <p class="trans-control letters" id="wrong">musaddiqal limaa ma'akum wa laa </p>
        </div>

<!--end q6-->

       <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">كُنتُمۡ</span>
        <p class="trans-control letters" id="wrong">qalamoon</p>
         <p class="trans-control letters" id="correct">kuntum</p>
          <p class="trans-control letters" id="wrong">kalamu </p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَـٰلَمِينَ</span>
        <p class="trans-control letters" id="wrong">Alhamdu allahi rasoolun alaq</p>
         <p class="trans-control letters" id="correct">Alhamdu lillaahi Rabbil aalameen</p>
          <p class="trans-control letters" id="wrong">El nastaiena mustaqma aalameen </p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">مَـٰلِكِ يَوۡمِ ٱلدِّينِ</span>
        <p class="trans-control letters" id="correct">Maaliki Yawmid-Deen</p>
         <p class="trans-control letters" id="wrong">Alhamdu lillaahi Rabbil aalameen</p>
          <p class="trans-control letters" id="wrong">Dawaahum feehaa Subbaanaka</p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">رُسُلُهُم بِٱلۡبَيِّنَـٰتِ</span>
        <p class="trans-control letters" id="wrong">zilzal wa talamaun</p>
         <p class="trans-control letters" id="correct">rusuluhum bil baiyinaati</p>
          <p class="trans-control letters" id="wrong">zakatul minal nasee</p>
        </div>

 <!--end q10-->

  <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">يَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ </span>
        <p class="trans-control letters" id="wrong">ilaahaka wa ilaaha aabaaa'ika</p>
         <p class="trans-control letters" id="wrong">lai yatamannawhu abadam bimaa</p>
          <p class="trans-control letters" id="correct">iyyaaka nabudu wa lyyaaka nastaeen</p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">وَلَا خَوۡفٌ عَلَيۡهِمۡ وَلَا هُمۡ يَحۡزَنُونَ</span>
        <p class="trans-control letters" id="wrong">wa maaa anfaqtum min nafaqatin aw nazartum</p>
         <p class="trans-control letters" id="wrong">wa masalul lazeena yunfiqoona amwaala humub</p>
          <p class="trans-control letters" id="correct"> wa laa khawfun alaihim wa laa hum yahzanoon</p>
        </div>

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">يَـٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُواْ</span>
        <p class="trans-control letters" id="wrong">ya'idukum maghfiratam minhu</p>
         <p class="trans-control letters" id="correct">yaaa ayyuhal lazeena a'amanu</p>
          <p class="trans-control letters" id="wrong"> yaamurukum bilfahshaaa'i wallaahu</p>
        </div>

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">ٱهۡدِنَا ٱلصِّرَٲطَ ٱلۡمُسۡتَقِيمَ</span>
        <p class="trans-control letters" id="wrong">ya'idukum maghfiratam minhu</p>
         <p class="trans-control letters" id="wrong">ikullin ja'alnaa minkum shir'atanw </p>
          <p class="trans-control letters" id="correct"> ihdinas siraatal mustaqeem</p>
        </div>
 <!--end q14-->

 <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">سَمَّـٰعُونَ لِلۡكَذِبِ</span>
        <p class="trans-control letters" id="wrong">saiyiaatihim adkhalnaahu</p>
         <p class="trans-control letters" id="wrong">summa yatawallawna  </p>
          <p class="trans-control letters" id="correct">sammaa'oona lilkazibi</p>
        </div>

 <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">مِيثَـٰقَ بَنِىٓ إِسۡرَٲٓءِيلَ</span>
        <p class="trans-control letters" id="correct">meethaaqa banee israaa'eela</p>
         <p class="trans-control letters" id="wrong">minhum maaa unzila ilaika</p>
          <p class="trans-control letters" id="wrong"> minanna'ami yahkumu bihee zawaa</p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">بِمَا نَقۡضِہِم مِّيثَـٰقَهُمۡ</span>
        <p class="trans-control letters" id="wrong">ba'sanaa minhumus nai 'ashara</p>
         <p class="trans-control letters" id="wrong">basheerunw wa' nazeer minhum</p>
          <p class="trans-control letters" id="correct">bimaa na'qdihim meesaa</p>
        </div>

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">صِرَٲطَ ٱلَّذِينَ أَنۡعَمۡتَ عَلَيۡهِمۡ</span>
        <p class="trans-control letters" id="correct">siraatal lazeena an'amta 'alaihim </p>
         <p class="trans-control letters" id="wrong"> saalihan falaa khawfun 'alaihim</p>
          <p class="trans-control letters" id="wrong">sannal lazeena kafaroo minhum 'azaabun</p>
        </div>

         <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">جَـٰهَدَاكَ لِتُشۡرِكَ بِى</span>
        <p class="trans-control letters" id="correct">jaahadaaka litushrika bee</p>
         <p class="trans-control letters" id="wrong">jawaaba qawmiheee illaaa an</p>
          <p class="trans-control letters" id="wrong">jaaa'a nasrum mir rabbika</p>
        </div>

        <div class="landing-div">
        <p class="final-ps">What is the correct transliteration</p><span class="make-big" style="margin-left:10px;">غَيۡرِ ٱلۡمَغۡضُوبِ عَلَيۡهِمۡ وَلَا ٱلضَّآلِّينَ</span>
        <p class="trans-control letters" id="wrong">ghul lillazeena kafarooo iny yantahoo yughfar</p>
         <p class="trans-control letters" id="correct">ghayril maghdoobi alaihim wa lad dalleen</p>
          <p class="trans-control letters" id="wrong">ghaa'a kaana haazaa huwal haqqa sadiqeen </p>
        </div>









 
 
  <button id="next" class="btn btn-success  counter">Next</button>
     <button id="advance"  class="btn btn-success ">Advance</button>
 
 </div><!--end of the sample div-->
 
    </div>
    <div class="col-md-4">
     <div style="margin-left:30px;">
        <h3 style="margin-left:50px;" id="answer-text">Answer here</h3><p id="here"></p><br><br>
      <div id="answer-holder"></div>
      </div>
    </div>
  </div><!--end row-->
 


</div><!--end container-->

 





<script>
  $(document).ready(function(){
    $('#advance').hide();
     $("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});



$("#next").click(function(){
 
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});




var count =1;
  var total = 0;
 $('.counter').on('click', function(e){
      count++;
    if(count >= 20){
      $('#next').hide();
      $('#advance').show();
     
    }
    
});

//start of the drop function

 var correct = 0;
 
 $('.letters').draggable({
              stack: '.letters'
          });
          $('#answer-holder').droppable({
              drop: function(event, ui){
                 
              var here  = $('#here');
              ans = $(ui.draggable).attr('id');
              if(ans == 'wrong'){
                total++;
               
               $('#here').text('');
              }

              

              if(ans == 'correct'){
                  correct++;
                  

              }

             
             
                 
              
               //here.text(ans);
              } //end of the drop function

              
              
          });

     


   $('#advance').on('click', function(e){
     
    var name = localStorage.getItem('name');
    $.ajax({
        type:'POST',
        url:'/final',
        data: {score:correct, name:name},
        success: function(res){
          if(res.score >= 80){
          window.location.replace('/completed');
          }
        if(res.score < 79 && res.score >= 69){
          localStorage.setItem('level', 3.1);
         window.location.replace('/level3-section1');
        }
        else{
            localStorage.setItem('level', 2.0);
            window.location.replace('/level2-section1');
        }
        }
    });



     
   });





  });






</script>