<link rel="stylesheet" href="/public/css/level1.css">
<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
{{> desktop}}
    <body style="background:#2b3e50;color:white;height:1000px; margin-right:100px;">
       <div class="container">
  <div class="user-stats">
          <ul>
           <li class="make-big">{{sessName}}</li>
           <li> <img class="" style="max-height:85px; max-width:125px;" src="/public/images/profiles/{{user.profilePic}}"></li>
              <li style="font-size:18px; font-weight:bold;">Level 1 Section 4</li>
              <li>Last score</li>  <li  style="padding-left:250px;" class="badge make-big">{{last_score}}</li>


          </ul>
              </div>

       <div class="row">
         <div class="col-md-6">
            <h2 style="margin-left:15px;">Level 1</h2>
         <br>
        <br>
          <h3 style="margin-left:80px; text-align:center;">Basics of the Arabic Alphabet Continued</h3>
          <br>
  </div>

</div>
          
          <div class="row">
              <div class="col-md-10">
                <div class="container">

          <div id="sample-div">
      <div class="landing-sample w3-card w3-yellow">
          <h4>Letter DAL</h4>
          <p class="make-big">د</p>
          <p>The Arabic letter DAL is equal to the English letter D.</p>
         <p>DAL has three other letters that resemble it. The 4 letters will need more practice as they are hard to determine when reading the Arabic Quran.</p>
         <p>Just a look a head at the other 3 letters. THAL, ZA, RA<span class="make-big">
             ذ ز ر</span></p> 
         <br>

          
          <img class ="all" src="/public/images/all-dal.png" alt"full dal">
          <p>Press next to see a word in the Quran that starts with the letter DAL</p>
          </div>

            <div class="landing-sample">
          <h4>DEEN</h4>
          <p class="make-big">دين <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the line hooking to the left? 
              
              The word DEEN means religion in most instances in the Quran, but again, remember that Arabic is based on roots. 
              So the root of the word Deen has a few meanings depending on the context. In surah Al Fathiha,
              Deen means judgement.
              
          </p>
          <p><span class="make-big">مَـٰلِكِ يَوۡمِ ٱلدِّينِ</span></p>
         
          </div>

           <div class="landing-sample">
          <h4>Letter THAL</h4>
          <p class="make-big">ذ</p>
          <p>The Arabic letter THAL is equal to the English sound THA. 
             </p>
             <p>THAL is one of the hardest to read. Please take as much time as you need to study this letter. Wath and listen to the resources provided here.
                 Repitition is a proven method to learn languages. This is actually how we learned our mother tongues.
             </p>
                
            <br>
            <img  class="all" src="/public/images/full-thal.png" alt="all-thal">
            <br>
            <p>Even though there are only two forms of this letter, don't let that fool you. With the other 3 letters looking very similar, they are 
                easily confused when first learning to read Arabic. 
            </p>  
            <p>Press next to see a word in the Quran that starts with the letter THAL</p>       
          </div>
           
            <div class="landing-sample">
          <h4>Thikr</h4>
          <p class="make-big">ذكير <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the THAL on the right side? Thikr translates into "reminder, remind". 
              The Quran describes its self as the Thikr <span class="make-big">(ذكير)</span>
              
              
          </p>
          <br>
          <p>The only difference between DAl and THAL is that there is; you guessed it, a dot on the top of THAL.</p>
          
          </div>

           <div class="landing-sample">
          <h4>Letter RA</h4>
          <p class="make-big">ر</p>
          <p>The Arabic letter RA is equal to the English letter R. 
              RA is less curved than THAL and DAL. With practice, RA will stand out easily from the other similar letters.

          </p>
         
            <p>Let's take a look at the form of the letter. </p>
            <br>
            <img  class="all" src="/public/images/all-ra.png" alt="all-ra">
            <br>
            <p>
            

            </p>  
            <p>Press next to see a word in the Quran that starts with the letter RA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>RAAB</h4>
          <p class="make-big">رَبِّ <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the RA on the right side? RAAB translates into "Lord,master".
              Don't worry, we will have enough exercises to help you recognize the letters before the course is over.
              
          </p>
          <p>RAAB is made up of 2 letters that we have covered. RA, which we are on now and BA.

          </p>
          
          <p>Can you determine the two letters? If so, you are ahead of schedule.</p>
          
         
          </div>

          <div class="landing-sample">
          <h4>Letter ZA</h4>
          <p class="make-big">ز</p>
          <p>The Arabic letter ZA is equal to the English letter Z. ZA looks like RA, except, you guessed it, ZA has a dot on top.
              
              </p>
            <br>
            <img  class="all" src="/public/images/full-zay.png" alt="all-za">
            <br>
              
            <p>Press next to see a word in the Quran that starts with the letter ZA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Zawjah</h4>
          <p class="make-big">زوجة <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the ZA on the right side? Zawjah translates into "wife".
              Again, an effective way to recognize the letter ZA from RA is to remember ZA has a dot. 
              
          </p>
         
          
         
         
          </div>

          <div class="landing-sample">
          <h4>Letter YA</h4>
          <p class="make-big">ي</p>
          <p>The Arabic letter YA is equal to the English letter Y. 
              YA only has two dots on the <span>BOTTOM</span> of it. 
          </p>
         
            <p>Let's take a look at the form of the letter. Pretty straight forward, ya has two dots on the bottom of it.
                No other letter has two dots on the bottom.
            </p>
            <br>
            <img  class="all" src="/public/images/all-ya.png" alt="all-ya">
            <br>
            
            <p>Press next to see a word in the Quran that starts with the letter YA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Yowm</h4>
          <p class="make-big">يوم <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the YA on the right side? Yowm translates into "day".
              Again, an effective way to recognize the letter YA is to remember YA is the only letter that has two dots on the <span>BOTTOM</sapn>. 
              
          </p>
         
          
          <p>You should be able to recognize each of the 3 letters that make up this word. Give it a try. Can you name the 3 letters?
          </p>
           
         
          </div>


          <div class="landing-sample">
          <h4>Letter KAF</h4>
          <p class="make-big">ك</p>
          <p>The Arabic letter KAF is equal to the English letter K. 
              KAF is a letter that definitly morphs depending on its position in a word. 
          </p>
         
            <p>Let's take a look at the forms of the letter. Take as much time as needed. This letter seems to be one of the hardest in the beggining </p>
            <br>
            <img  class="all" src="/public/images/all-kaf.png" alt="all-kaf">
            <br>
            
            <p>Press next to see a word in the Quran that starts with the letter KAF</p>  

          
           </div>

           <div class="landing-sample">
          <h4>KITAB</h4>
          <p class="make-big">كتاب<span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the KAF on the right side? Kitab translates into "book, scripture".
             KAF is another of the unique letters. No other letter looks like it, but the hard part is how its different 
             forms morph and no longer resemble eachother.
              
          </p>
         <br>
          
          <p>That was a lot to take in. Take a few moments and go through the lesson again. This is by far the hardest section of level one. the next section, which is the last section for level one
              is a breeze if you can get past this level. Press Quiz when you think you're ready. 
          </p>
          
         
          </div>


       <button style="margin-left:560px;" id="next" class="btn btn-info counter">Next</button>
      <a href="/level1/quiz4" id="quiz4-link" class="btn btn-success">Quiz</a>
        
      </div>


    </div>
      
          </div><!--end second col-->
    </div><!--end row-->


      

     


    

   
 





 </body>
<script>
 $(document).ready(function(){
     $('#sample-quiz').hide();
     $('#quiz4-link').hide();
     $('#here').hide();
     //$('#scroll-up-message').hide();
$("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});

$("#next").click(function(){
 
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});
  var count =1;
 $('.counter').on('click', function(e){
      count++;
    
     
     if(count == 12){
         e.preventDefault();
       $('#next').hide();
       $('#quiz4-link').show();
       $('.letters').animate({
           top:'0px',
           left:'0px'
       });
       //$('#next').attr('id', 'q1');
       
     }

 


   
 });

 




 });



</script>




          
     

