<link rel="stylesheet" href="/public/css/level1.css">
<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
{{> desktop}}
<body style="background:#2b3e50;color:white;height:1500px;">
<div class="container">


<div class="row">
  <div class="col-md-6">
    <h2>Level 1</h2>
         <br>
         <h5>Level 1 section 2</h5>
         <br><hr>
         <img style="max-height:200px; min-width:556px;" id="fathiaL1"src="/public/images/thekey.jpg" alt="The Key">
         <br>
          <p id="keyCaption"> The first chapter of the Quran, AL Fathihah(The Key).
               

          </p><br>
         


    </div><!--end of the first col-->
      <div class="col-md-4" style="margin-left:18px;">
          <div class="user-stats">
          <ul>
           <li>{{sessName}}</li> <img style="max-height:85px; max-width:85px;" src="/public/images/profiles/{{user.profilePic}}">
              <li>Level 1 Section 2</li>
              Last score  <li>{{last_score}}</li>


          </ul>
              </div>
    <iframe id="fathia-vid" width="560" height="315" src="https://www.youtube.com/embed/tQRWCpIxEx8" frameborder="0" allowfullscreen></iframe>
          </div><!--end second col-->

    </div><!--end row-->


      <div class="row">
       <div class="col-md-10 col-lr-10 col-sm-10 col-xs-10">

        <h3>Basics of the Arabic Alphabet Continued</h3>
          <br>
          <div class="info-text">
            <h3 style="text-align:center;">Take a few moments looking at each lettter</h3>
           
          </div>
          <div id="sample-div">
      <div class="landing-sample w3-card w3-yellow">
          <h4>Letter THA</h4>
          <p class="make-big">ث</p>
          <p>The Arabic letter THA is equal to the English sound THA.An easy way to recognize the letter is to remember 3 for 3 dots. TH in three is how to pronounce the letter.</p>
          <p>Here is an audio sample for you to hear. It's sound is like combining the English letters "TH" and "A" = THA.</p>
         <iframe width="360" height="215" src="https://www.youtube.com/embed/WxrmzvQmeo4" frameborder="0" allowfullscreen></iframe><br>

          
          <img class ="all" src="/public/images/all-tha.png" alt"full alif">
          <p>Press next to see a word in the Quran that starts with the letter THA</p>
          </div>

            <div class="landing-sample">
          <h4>Thalatha</h4>
          <p class="make-big">ثلاثة <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the 3 dots on the right side? 
              
              The word thalatha in Arabic has two tha's in it. Do you see the 3 dots twice in the word
              
          </p>
          <p>Tha is very easy to recognize, as it and SHEEN are the only letters that have three dots in the Arabic language.
          </div>

           <div class="landing-sample">
          <h4>Letter HAA</h4>
          <p class="make-big">ح</p>
          <p>The Arabic letter HAA is equal to the English sound HA. 
             </p>
             <p>HAA and the next two letters are all very similar, the only difference is where and if a dot appears. HA is the only one that doesnt have a dot.</p>

            <br>
            <img  class="all" src="/public/images/full-hha.png" alt="all-ba">
            <br>
            <p>There is only one of these letters that doesn't have any dots. More importantly, the letter HAA and HA are very similiar,
                they both produce an H sound. One is a soft H and the other is a so called hard H.
                Heres a great resource video that already exists on the web.
            </p>
             <iframe width="360" height="215" src="https://www.youtube.com/embed/7c44d8Utxw4" frameborder="0" allowfullscreen></iframe>


            <p>Press next to see a word in the Quran that starts with the letter HAA</p>       
          </div>
           
            <div class="landing-sample">
          <h4>Hakim</h4>
          <p class="make-big">ْحكيم<span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the top of the HAA on the right side? Hakim translates into "Wise".
              Again, remember that HAA doesn't have a dot. Also, besides from the word hakim, it is important to study the different forms of the letter HAA.
              
          </p>
          <br>
          <img  class="all" src="/public/images/full-hha.png" alt="all-ba">
          <br>
          <p>Notice how the bottom half of the letter is not present except for the isolated and final forms of the letter.
              This is very important to be able to read the letter HAA and distinguish it in it's middle forms. </p>
          
          <p>Let's look at the other two similar letters to HAA. Press next for the next letter.</p>
          </div>





           <div class="landing-sample">
          <h4>Letter KHA</h4>
          <p class="make-big">خ</p>
          <p>The Arabic letter KHA is equal to the English sound KHA. KHA is exactly the same as HAA, except that it has a dot on the <span>TOP</span> of it.</p>
         
            <p>When it comes to these 3 letters <span class="make-big">ح خ ج</span>HAA, KHA, and JEEM, all you have to do is look for a dot and it's placement. This is what makes the difference in the letters. </p>
            <br>
            <img  class="all" src="/public/images/full-kha.png" alt="all-ta">
            <br>
            <p>
             Again, HAA has no dot <span class="make-big">ح</span>. While KHA has one on the <span>TOP</span>.

            </p>  
            <p>Press next to see a word in the Quran that starts with the letter KHA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Khalaq</h4>
          <p class="make-big">خَلَقَ <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the dot on top of the line that is on the right side? Khalaq translates into "create, make, to bring into being".
              Again, an effective way to recognize the letter KHA is to remember KHA has one dot on top. 
              
          </p>
          <p>Khalaq is made up of 3 letters. (kha,lam,qaf) خ ل ق</p>
          
          <p>Again, let's take some more time to study the forms of KHA. It looks exactly the same as HAA and JEEM except it has a dot on top.</p>
           <img  class="all" src="/public/images/full-kha.png" alt="all-ta">
         
          </div>

          <div class="landing-sample">
          <h4>Letter JEEM</h4>
          <p class="make-big">ج</p>
          <p>The Arabic letter JEEM is equal to the English letter J. JEEM is exactly the same as HAA, except that it has a dot on the <span>BOTTOM</span> of it.</p>
         
            <p>When it comes to these 3 letters <span class="make-big">ح خ ج</span>HAA, KHA, and JEEM, all you have to do is look for a dot and it's placement. This is what makes the difference in the letters. </p>
            <br>
            <img  class="all" src="/public/images/full-jeem.png" alt="all-jeem">
            <br>
            <p>
             Again, JEEM has a dot <span class="make-big">ج</span> on the <span>BOTTOM</span>.

            </p>  
            <p>Press next to see a word in the Quran that starts with the letter JEEM</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Jenna</h4>
          <p class="make-big">جَنَّـٰتٍ۬ <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the dot on the bottom of the line that is on the right side? Jenna translates into "paradice, heaven".
              Again, an effective way to recognize the letter JEEM is to remember JEEM has one dot on the bottom. 
              
          </p>
         
          
          <p>Again, let's take some more time to study the forms of JEEM. It looks exactly the same as HAA and KA except it has a dot on bottom.</p>
           <img  class="all" src="/public/images/full-jeem.png" alt="all-jeem">
         
          </div>

       <button style="margin-left:460px;" id="next" class="btn btn-success counter">Next</button>
       <a role="button" href="/level1/quiz2"  id="quiz2-link" class="btn btn-success">Quiz</a>
        
      </div>
       
       
       
       </div>  
    


      </div>

     </body>


    

   
 





 
<script>
 $(document).ready(function(){
     $('#sample-quiz').hide();
     $('#quiz2-link').hide();
     //$('#scroll-up-message').hide();
$("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});
var score = 0;
$("#next").click(function(){
 $('.info-text').hide();
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});
  var count =1;
 $('.counter').on('click', function(e){
      count++;
    
     
     if(count == 8){
         e.preventDefault();
       $('#next').hide();
       $('#quiz2-link').show();
       //$('#next').attr('id', 'q1');
       
     }

 


   
 });

 

 

 





 });



</script>




          
     

