<link rel="stylesheet" href="/public/css/level1.css">
<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
{{> desktop}}
<div class="container">
<div class="row">
    <div class="col-md-6">
         <h2>Level 1</h2>
         <br>
         <h5>Level 1 section 1</h5>
         <br><hr>
         <img  id="fathiaL1"src="/public/images/thekey.jpg" alt="The Key">
         <br>
          <p id="keyCaption"> The  first chapter of the Quran, AL Fathihah(The Key).
               

          </p><br>
          <h2>Basic Rules of Arabic</h2>
          <br>
          
          <ul>
              <li style="margin-bottom:8px;">There are a total of 28 letters in Arabic</li>
              <li style="margin-bottom:8px;">Arabic is read from right to left, the complete opposite of English</li>
              
                    <li style="margin-bottom:8px;">Arabic is written in cursive not script text.</li>
                    <li style="margin-bottom:8px;">Arabic is classified as an Afro-asiatic language.</li>
              </ul>
              <br>
              <h2>A B T</h2>
              <p> In English, we have an idom known as the A B C's. In Arabic, it is standard to start with the Alif, Ba, and Ta. </p>
                 
                  <div class="info-next">
          <h3>Take a few moments looking at each <span>ISOLATED</span> lettter</h3>
           <p>Please read the notes on each letter as well</p>
          
                  </div>


    </div><!--end col-->

 <div class="col-md-4" id="pay-area">
   <h2 style="font-weight:bold;text-align:center;" >Make a Donation</h2><hr>
   <p>Help us to build better software so we can assist others who want to learn how to read the Quran. If you
     feel at any point that this course has helped you to learn Arabic, then feel free to donate on a level of one to ten
     , 1 being the lowest, and donate that value. So if you feel this course was a 3, then just donate $3.00, this will help us in our goals.
     Just enter an amount, then click the button and you will be taken to our secure donation portal.
     Either way, thank you for using our software to help you learn to read the Quran, by the permission of GOD.

   </p>
 <div id="paypal-button" style="float:right;margin-top:40px;"></div>
 <br><br>
 <form action="/process" method="POST" class="form">
 <script
   src="https://checkout.stripe.com/checkout.js"
   class="stripe-button"
   data-key= "pk_test_cC8hpFUJLtxcI2SGORAzNElJ"
   
   data-name="Arabic Mubeen Sadaqah"
   data-description="Helping others to learn the Quran"
   data-locale="auto"
   data-currency="usd">
 
   


 

</script>
<input type="text" name="chargeAmount" id="chargeAmount" class="form-control">
<!--<input type="hidden" name="email" id="email" value=localStorage.getItem('email')>-->
</form>

 </div>
    
    </div><!--end row-->

    <div class="row">
    <div class="col-md-10">
     <div id="sample-div">
      <div class="landing-sample w3-card w3-yellow">
          <h4> ALIF</h4>
          <p class="make-big">ا</p>
          <p>The Arabic letter alif is equal to the English letter A. Most Arabic letters have different form, alif is an exception to this.
              It won't get any easier than this. The Arabic letter Alif is a single vetical line.</p>
          
          <img class ="all" src="/public/images/full-alif.png" alt"full alif">
          <p>Press next to see a word in the Quran that starts with the letter alif</p>
          </div>

            <div class="landing-sample">
          <h4>Allah</h4>
          <p class="make-big">ٱللَّهِ <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the single vertical line that is on the right side? 
              Don't pay any attention to the little marks above the letters, these are vowles in Arabic. We will focus on vowles in the next section.
              The word/name/phrase Allah in Arabic is made up of 3 letters(alif, lam,ha).
                ا ل ح
          </p>
          </div>

           <div class="landing-sample">
          <h4>BA</h4>
          <p class="make-big">ب</p>
          <p>The Arabic letter BA is equal to the English letter B. Most Arabic letters have different forms, BA is one of the letters that have 4 different forms.
             </p>
            <br>
            <img  class="all" src="/public/images/ba-all-forms.png" alt="all-ba">
            <br>
            <p>All Arabic letters are unique. There is only one letter that has just one dot at the bottom.
             B for bottom is an easy way to recognize the letter BA. In all forms, there is only a single dot at the bottom.
            </p>  
            <p>Press next to see a word in the Quran that starts with the letter BA</p>       
          </div>
           
            <div class="landing-sample">
          <h4>Bismi</h4>
          <p class="make-big">ْبسم <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the single dot under the line that is on the right side? Bismi translates into "in the name".
              Again, an effective way to recognize the letter BA is to remember "B" for bottom. 
              
          </p>
          <p>Bismi is made up of 3 letters. (ba,sin,meem) ب س م </p>
          <p>The word bismi encompasses all the things we have learned so far. Arabic is cursive, so notice how the letter BA connects to the next letter in the word.
              This is how and why there are different forms of the letters. Bismi has an example of the initial form of the letter. 
          </p>
          <p>You're doing fine. That's alot to take in. Let's look at one more letter. Press next for the last letter.</p>
          </div>





           <div class="landing-sample">
          <h4>TA</h4>
          <p class="make-big">ت</p>
          <p>The Arabic letter Ta is equal to the English letter T.</p>
         
            <p> </p>
            <br>
            <img  class="all" src="/public/images/all-ta.png" alt="all-ta">
            <br>
            <p>
             T for top is an easy way to recognize the letter TA. In all forms, there is always two dots above the line.
             At first, one can easily confuse the letters TA and Qaf, only because they both have two dots at the top. QAF we will look at in the future.

            </p>  
            <p>Press next to see a word in the Quran that starts with the letter TA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>Tafsir</h4>
          <p class="make-big">ْتَفۡسِيرً <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the two dots on top of the line that is on the right side? Tafsir translates into "make clear, explain, expose".
              Again, an effective way to recognize the letter TA is to remember "T" for top. 
              
          </p>
          <p>Tafsir is made up of 4 letters. (ta,fa,seen,ra) ت ف س ر</p>
          <p>The word tafsir brings up another basic aspect of the Arabic language and other Semitic languages in genreal.
              Words in Arabic are made up of triliteral or triconsonantal roots. Which are words that have three consonants.
              Although the word tafsir is made up of 4 letters, tafseer comes from the root word al-fasr (ف - س - ر). All the letters except for the letter we are focusing on, ت (ta)
          
          </p>
          <p>Now that we have covered the basics of the A B T's of the Arabic language, we should now take a few moments to see how much of the information you have actually retained.
              Press Quiz to advance to your first quiz. </p>
          </div>

       <button id="next" class="btn btn-success  counter" style="margin-left:480px;height:43px width:75px;;">Next</button>
       <a  id="quiz1-link" role="button"  class="btn btn-success" href="/level1/quiz1">Quiz</a>
        
      </div>

    </div>


    </div>






       <!--end container-->




<!--modal start-->
<!-- Button trigger modal 
<button type="button"  id="sample-quiz" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Quiz
</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sample Quiz</h4>
      </div>
      <div class="modal-body">
          
        <h2>How many letters are in the Arabic alphabet</h2>
        <form method="POST">
          <input type="number" id="quiz-1" class="form-control">
          <br>
          

        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" id="modal-sample" data-dismiss="modal">Save answer</button>
      </div>
    </div>
  </div>
</div>


</div>


<script>
 $(document).ready(function(){
     $('#sample-quiz').hide();
     $('#quiz1-link').hide();
     //$('#scroll-up-message').hide();
$("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});

$("#next").click(function(){
  $('.info-next').hide();
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});
  var count =1;
 $('.counter').on('click', function(e){
      count++;
    
     
     if(count == 6){
         e.preventDefault();
       $('#next').hide();
       $('#quiz1-link').show();
       //$('#next').attr('id', 'q1');
       
     }

 


   
 });
//START OF PAYPAL
paypal.Button.render({

            env: 'sandbox', // Or 'sandbox',

            commit: true, // Show a 'Pay Now' button
            
            client: {
               sandbox:'ASzJhFpIE1cb1n4dkFxY0zPdbTApXNF_uc-a0-WIOHFXs9glCqHqSmsw9_kbS16tbcyYrW_jG8beLI5m'
            },

            payment: function(data,actions) {
                // Set up the payment here
                 return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '1.00', currency: 'USD' }
                        }
                    ]
                }
            });
            },

            onAuthorize: function(data, actions) {
                // Execute the payment here
             return actions.payment.execute().then(function(payment) {
                   //window.location.replace('/process');
                   console.log(payment);
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });

           }

        }, '#paypal-button');



 

 });



</script>