<link rel="stylesheet" href="/public/css/level1.css">
<link rel="stylesheet" href="/public/css/landing.css">
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
{{> desktop}}
<body style="background:#2b3e50;color:white;height:1000px; margin-right:100px;">
<div class="container">
<div class="user-stats">
          <ul>
           <li class="make-big">{{sessName}}</li>
           <li> <img class="" style="max-height:85px; max-width:125px;" src="/public/images/profiles/{{user.profilePic}}"></li>
              <li style="font-size:18px; font-weight:bold;">Level 1 Section 5</li>
              <li>Last score</li>  <li  style="padding-left:250px;" class="badge make-big">{{last_score}}</li>


          </ul>
              </div>

<div class="row">
  <div class="col-md-6">
    <h2>Level 1</h2>
         <br>
         
          <h3>Basics of the Arabic Alphabet Continued</h3>
          <br>
  </div>
</div>

            <div class="row">
                <div class="col-md-10">
                    <div class="container">
          
          <div id="sample-div">
      <div class="landing-sample w3-card w3-yellow">
          <h4>Letter SEEN</h4>
          <p class="make-big">س</p>
          <p>The Arabic letter SEEN is equal to the English letter S.</p>
         <p>SIN has  another letter that resemble it(SHEEN).
             Of course by now, you should have figured that the difference between the two will be  able
             matter of dots or not. SEEN has no dots and the horizontal sqigily line resembles that of an S.
             Easy way to remember SEEN is sqigily for S.
         </p>
          
         <br>

          
          <img class ="all" src="/public/images/all-seen.png" alt"full seen">
          <p>Press next to see a word in the Quran that starts with the letter SEEN</p>
          </div>

            <div class="landing-sample">
          <h4>Salam</h4>
          <p class="make-big">سلام <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the SEEN on the right? 
              
              The word Salam means peace. All the words by now have pretty much used all the letters that we have studied.
        You should be able to recognize all the letters in salam. SEEN, LAM, MEEM.
          </p>
         
         
          </div>

           <div class="landing-sample">
          <h4>Letter SHEEN</h4>
          <p class="make-big">ش</p>
          <p>The Arabic letter SHEEN is equal to the English sound SH. 
             </p>
             <p>SHEEN is very similar to SEEN, the only dofference is that SHEEN has three dots on the top, while SIN has no dots.
                 All the 'S' sounding letters have a S like appearance per say. Or at least we can say that it has a sqigily appearance.

             </p>
                
            <br>
            <img  class="all" src="/public/images/all-sheen.png" alt="all-sheen">
            <br>
            
            <p>Press next to see a word in the Quran that starts with the letter SHEEN</p>       
          </div>
           
            <div class="landing-sample">
          <h4>Shams</h4>
          <p class="make-big">شمس <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the SHEEN on the right side? Shams translates into "sun". 
              Shams uses both SHEEN and SEEN. Notice the MEEM in the middle of the two letters?
              
              
          </p>
          <br>
          <p>Again, the only difference between SEEN and SHEEN is that SHEEN has 3 dots on the top of it.</p>
          
          </div>

           <div class="landing-sample">
               <h3>The remaining letters have no equivalent in the English language and this makes the audio as important as the visual.</h3>
          <h4>Letter SAAD</h4>
          <p class="make-big">ص</p>
          <p>The Arabic letter SAAD is equal to the English sound SAUW. 
              

          </p>
         
            <p>Let's take a look at the form of the letter. As well as take a listen to the aduio of the sounds as well.</p>
            <br>
            <img  class="all" src="/public/images/all-saad.png" alt="all-sad">
            <br>
            
              <audio  controls="controls"
                      src="/public/audios/038.mp3"
                      >

  Your browser does not support the <code>audio</code> element.
</audio><br>

             
            <p>Press next to see a word in the Quran that starts with the letter SAAD</p>  

          
           </div>

           <div class="landing-sample">
          <h4>SABR</h4>
          <p class="make-big">صبر<span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the SAAD on the right side? Sabr translates into "patience".
              
              
          </p>
          <p>

          </p>
          
          <p>Can you determine the three letters in this word?</p>
          
         
          </div>

          <div class="landing-sample">
          <h4>Letter DAAD</h4>
          <p class="make-big">ض</p>
          <p>The Arabic letter DAAD is similar to SAAD except that it has a dot on the top of it. 
              
              </p>
            
            <img  class="all" src="/public/images/all-daad.png" alt="all-daad">
            
              <p>Here is the audio for the pronounceation of the letter.</p>
              <iframe width="360" height="215" src="https://www.youtube.com/embed/_xjVkqxIrSY" frameborder="0" allowfullscreen></iframe>
            <p>Press next to see a word in the Quran that starts with the letter DAAD</p>  

          
           </div>

           <div class="landing-sample">
          <h4>DALAL</h4>
          <p class="make-big">ضلال <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the DAAD on the right side? DALAL translates into "misguidance". </p>
          </div>

          <div class="landing-sample">
          <h4>Letter AYN</h4>
          <p class="make-big">ع</p>
          <p>The Arabic letter AYN really has no equal in English.</p>
         
            <p>Let's take a look at the form of the letter. let's also have a listen to the pronouncation of the letter.
            </p>
            
            <img  class="all" src="/public/images/all-ayn.png" alt="all-ayn">
            
            <iframe width="360" height="215" src="https://www.youtube.com/embed/uCJWY1WVUX8" frameborder="0" allowfullscreen></iframe>
            <p>Press next to see a word in the Quran that starts with the letter AYN</p>  

          
           </div>

           <div class="landing-sample">
          <h4>EAYN</h4>
          <p class="make-big">عين <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the AYN on the right side? EAYN translates into "eye".
             This glyph and its shape-mate Ghayn ( غ ) are considered two of the most difficult Arabic sounds for new students to master.</p>
         
          
          <p>You should be able to recognize each of the 3 letters that make up this word. Give it a try. Can you name the 3 letters?</p>
           
         
          </div>


           <div class="landing-sample">
          <h4>Letter GHAYN</h4>
          <p class="make-big">غ</p>
          <p>The Arabic letter GHAYN really has no equal in English.</p>
         
 <p>Let's take a look at the form of the letter. let's also have a listen to the pronouncation of the letter.</p>
            
            <img  class="all" src="/public/images/all-ghayn.png" alt="all-ghayn">
        
            <iframe style="float:right;margin-left:20px;" width="360" height="215" src="https://www.youtube.com/watch?v=-Tro1zyr96g" frameborder="0" allowfullscreen></iframe>
            <p>Press next to see a word in the Quran that starts with the letter GHAYN</p>  

          
           </div>

           <div class="landing-sample">
          <h4>GHAYB</h4>
          <p class="make-big">غَيۡبِ <span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the GHAYB on the right side? GHAYB translates into "unseen,absent".
            
              
          </p>
         
          
          <p>You should be able to recognize each of the 3 letters that make up this word. Give it a try. Can you name the 3 letters?
          </p>
           
         
          </div>


          <div class="landing-sample">
          <h4>Letter HA</h4>
          <p class="make-big">ه</p>
          <p>HA has different and unique forms. This is tricky: the final form of HA ( ـه ) looks exactly like the feminine glyph Ta Marbootah ( ـة ).
              
          </p>
         
            <p>Let's take a look at the forms of the letter. Take as much time as needed. 
                Hearing the sound of the letter is essential, since there is no letter in the English language that comes close. </p>
            <br>
            <img  class="all" src="/public/images/all-ha.png" alt="all-ha">
            <br>
            <iframe width="360" height="215" src="https://www.youtube.com/watch?v=A_zkQ1aAp2I" frameborder="0" allowfullscreen></iframe>
            <p>Press next to see a word in the Quran that starts with the letter HA</p>  

          
           </div>

           <div class="landing-sample">
          <h4>HUDA</h4>
          <p class="make-big">هُدً۬<span class="glyphicon glyphicon-hand-left"></span></p>
          <p>See the HA on the right side? Hudah translates into "guidance".
           You have just completed all the letters in the Arabic alphabet. Great job, {{sessName}}.

              
          </p>
        
          
       </div>






       <button id="next" style="margin-left:560px;" class="btn btn-success counter">Next</button>
       <a role="button" href="/level1/quiz5" id="quiz5-link" class="btn btn-success">Quiz</a>
        
      </div>
        </div>

    </div>
      
    </div><!--end row-->


      

     


    

   
 





 </body>
<script>
 $(document).ready(function(){
     $('#sample-quiz').hide();
     $('#quiz5-link').hide();
     //$('#scroll-up-message').hide();
$("#sample-div div").each(function(e) {
  
    if (e != 0){
      $(this).hide();
    }

    

    
        
});

$("#next").click(function(){
 
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
   
    return false;
});
  var count =1;
 $('.counter').on('click', function(e){
      count++;
    
     
     if(count == 15){
         e.preventDefault();
       $('#next').hide();
       $('#quiz5-link').show();
       //$('#next').attr('id', 'q1');
       
     }

 


   
 });

 




 });



</script>




          
     

