<link rel="stylesheet" href="/public/css/level1.css">

<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
<script src="/public/js/jquery.js"> </script>
<script src="/public/js/jquery-ui.js"></script>
{{> desktop level}}
<body style="height:700px;">
    <div clas="container">
<div id="info">

 <p style="margin-left:40px;"> This final test of level 1 will grade your overall
     retention level. If you are in the top teir, you will advance to level 2!. If you pass but are still not ready for level 2, you will be directed to the appropriate section and must start from there again.
     That can even be section one if you completely fail. This will hold true until you reach the status of level 2.
      </p><br>

      <p style="margin-left:40px;">We suggest that you go back and redue any of the lessons you might need more time on before taking the assesment test.</p>
      <br>
       <h4 style="margin-left:400px; margin-top:20px;font-weight:bold ">Make sure you have at least 10-15 to complete the test.</h4>
      <ul style="margin-top:40px;">
      <li><a role="button" class="section-links btn btn-info" href="/level1">Back to start of lesson 1</a></li>
      <li><a class="section-links btn btn-info" href="/level1-section2">Back to start of lesson 2</a></li>
      <li><a class="section-links btn btn-info" href="/level1-section3">Back to start of lesson 3</a></li>
      <li><a class="section-links btn btn-info" href="/level1-section4">Back to start of lesson 4</a></li>
      <li><a class="section-links btn btn-info" href="/level1-section5">Back to start of lesson 5</a></li>

      </ul>
     
          <h3 style="margin-left:460px;">See you in the next level!</h3>
 
 
 <br><br>
 <button class="btn btn-success" id="q5-start" style="margin-left:570px;margin-top:10px;">Start</button>
  </div>

<div class="container">
    <div class="row">
     <div class="col-md-5">
         <div id="sample-div">
           
           <div class="landing-sample">
         
          <h3>Which is the Arabic letter NOON? Drag and drop it into the answer area</h3>
         <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">و</td>
      <td id="wrong" class="letters  make-big">ح</td>
      <td id="correct" class="letters  make-big">ن</td>
               </tr>
         </table>
          </div>

          <div class="landing-sample">
          <h3>Which is the Arabic letter ALIF? Drag and drop it into the answer area</h3>
           <table class="table">
               <tr>
      <td id="wrong" class="letters  make-big">ي</td>
      <td id="correct" class="letters  make-big">ا</td>
      <td id="wrong" class="letters  make-big">و</td>
      </tr>
        </table>
          </div>

           <div class="landing-sample">
          <h3>Which is the Arabic letter KAF? Drag and drop it into the answer area</h3>
       <table class="table">
               <tr>
      <td id="correct" class="letters  make-big">ك</td>
      <td id="wrong" class="letters  make-big">ر</td>
      <td id="wrong" class="letters  make-big">ي</td>
       </tr>
       </table>
          </div>

          <div class="landing-sample">
          <h3>Which is the Arabic letter SHEEN? Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters  make-big">ش</td>
      <td id="wrong" class="letters  make-big">ج</td>
      <td id="wrong" class="letters  make-big">ن</td>
               </tr>
               </table>
          </div>

          <div class="landing-sample">
          <h3>Which is the Arabic letter RA? Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">ز</td>
      <td id="correct" class="letters make-big">ر</td>
      <td id="wrong" class="letters make-big">ذ</td>
               </tr>
               </table>
          </div>

           <div class="landing-sample">
          <h3>Which is the Arabic letter DAAD? Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">ز</td>
      <td id="correct" class="letters make-big">ض</td>
      <td id="wrong" class="letters make-big">ل</td>
               </tr>
               </table>
          </div>

          <div class="landing-sample">
          <h3>Which is the <span>LAST</span> letter in this word <span class="make-big">هُدً۬</span> Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">ALIF</td>
      <td id="wrong" class="letters make-big">THAL</td>
      <td id="correct" class="letters make-big">DAL</td>
               </tr>
               </table>
          </div>

       <div class="landing-sample">
          <h3>Which is the <span>FIRST</span> letter in this word <span class="make-big">قمر</span> Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">KAF</td>
      <td id="wrong" class="letters make-big">THA</td>
      <td id="correct" class="letters make-big">QAF</td>
               </tr>
               </table>
          </div>

       <div class="landing-sample">
          <h3>Which is the Arabic letter MEEM? Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">ن</td>
      <td id="correct" class="letters make-big">م</td>
      <td id="wrong" class="letters make-big">ي</td>
               </tr>
               </table>
          </div>

          <div class="landing-sample">
          <h3>Which is the Arabic letter BA? Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">ن</td>
      <td id="correct" class="letters make-big">ب</td>
      <td id="wrong" class="letters make-big">ي</td>
               </tr>
               </table>
          </div>

          <div class="landing-sample">
          <h3>How many consonants are in the Arabic language?</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">26</td>
      <td id="correct" class="letters make-big">27</td>
      <td id="wrong" class="letters make-big">28</td>
               </tr>
               </table>
          </div>

           <div class="landing-sample">
          <h3>Which is the Arabic letter YA? Drag and drop it into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">ص</td>
      <td id="correct" class="letters make-big">ي</td>
      <td id="wrong" class="letters make-big">ك</td>
               </tr>
               </table>
          </div>

           <div class="landing-sample">
          <h3>Does this word <span class="make-big">نعم</span> have the letter NOON in it? Drag and drop true or false into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">FALSE</td>
      <td id="correct" class="letters make-big">TRUE</td>
      
               </tr>
               </table>
          </div>

           <div class="landing-sample">
          <h3>Does this word <span class="make-big">ثلاثة</span> have the letter LAM in it? Drag and drop true or false into the answer area</h3>
      <table class="table">
               <tr>
      <td id="wrong" class="letters make-big">FALSE</td>
      <td id="correct" class="letters make-big">TRUE</td>
      
               </tr>
               </table>
          </div>


           <div class="landing-sample">
          <h3>Does this word <span class="make-big">خَلَقَ</span> have the letter WA in it? Drag and drop true or false into the answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters make-big">FALSE</td>
      <td id="wrong" class="letters make-big">TRUE</td>
      
               </tr>
               </table>
          </div>

           <div class="landing-sample">
          <h3>Does this word <span class="make-big">رَبِّ</span> have the letter FA in it? Drag and drop true or false into the answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters make-big">FALSE</td>
      <td id="wrong" class="letters make-big">TRUE</td>
      
               </tr>
               </table>
          </div>

           <div class="landing-sample">
          <h3>Does this word <span class="make-big">غَيۡبِ</span> have the letter FA in it? Drag and drop true or false into the answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters make-big">FALSE</td>
      <td id="wrong" class="letters make-big">TRUE</td>
      
               </tr>
               </table>
          </div>
      
        <div class="landing-sample">
          <h3>What is the second letter in this word <span class="make-big">غَيۡبِ</span>? Drag and drop 
        correct  answer into answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters make-big">YA</td>
      <td id="wrong" class="letters make-big">SEEN</td>
      <td id="wrong" class="letters make-big">BA</td>
      
               </tr>
               </table>
          </div>

    <div class="landing-sample">
          <h3>What is the <span>FIRST</span> letter in this word <span class="make-big">غَيۡبِ</span>? Drag and drop 
        correct  answer into answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters make-big">GHAYN</td>
      <td id="wrong" class="letters make-big">SEEN</td>
      <td id="wrong" class="letters make-big">FA</td>
      
               </tr>
               </table>
          </div>

          <div class="landing-sample">
          <h3>What is the <span>LAST</span> letter in this word <span class="make-big">ْتَفۡسِيرً </span>? Drag and drop 
        correct  answer into answer area</h3>
      <table class="table">
               <tr>
      <td id="correct" class="letters make-big">RA</td>
      <td id="wrong" class="letters make-big">WA</td>
      <td id="wrong" class="letters make-big">TA</td>
      
               </tr>
               </table>
          </div>

    

              
         
         
         
         
         
        
         </div><!--end sample div-->
     
       <button id="next" style="margin-left:180px; margin-top:40px;" class="btn btn-info counter">Next</button>
       
       <button id="q5-submit" class="btn btn-success">Submit</button>
      
     

    </div><!--end col-->
  
  <div class="col-md-4" style="margin-left:75px;">
        <h3>Answer here</h3><p id="here"></p><br><br>
      <div id="answer-holder"></div>
       
       
         </div>
         



    </div><!--end row-->
     
       
    </div><!--end container-->
    </div>
</body>

    <script>
    $(document).ready(function(){
        $('.container').hide();
        $('#q5-submit').hide();
        $('#here').hide();
        var ans = '';
    


        
    $('#q5-start').on('click', function(){
        
          $('.container').show();
          $('#q5-start').hide();
          $('#info').hide();
          $('.letters').draggable({
              stack: '.letters'
          });
          $('#answer-holder').droppable({
              drop: function(event, ui){
                  var here  = $('#here');
              ans = $(ui.draggable).attr('id');
               here.text(ans);
              } 
              
          });
   
      
       
       
 });




   
 $("#sample-div div").each(function(e) {
   
    if (e != 0){
      $(this).hide();
    }

    

    
        
   });
var score = 0;
 $("#next").click(function(){
 
    if ($("#sample-div div:visible").next().length != 0){
       $("#sample-div div:visible").next().fadeIn().prev().hide();
      
    }
       
         
    else {
        $("#sample-div div:visible").fadeOut();
        $("#sample-div div:first").fadeIn();
        
    }
  
  
   
   var here = $('#here').text();
    if(here  == "correct"){
     score++;
     $('#here').css('color', 'green');
    }

    else{
         $('#here').css('color', 'red');
    }
    
  
  
  //return false;
   
   
});
     


  var count =0;
  
 $('.counter').on('click', function(e){
      count++;
    if(count == 20){
         e.preventDefault();
       $('#next').hide();
       $('#q5-submit').show();
       $('.letters').animate({
           top:'0px',
           left:'0px'
       });
       $('#landing-sample').hide();
       //$('#next').attr('id', 'q1');
      
     }

  
});




 $('#q5-submit').on('click', function(e){
     var name = localStorage.getItem('name');
    $.ajax({
        type:'POST',
        url:'/level1/quiz5',
        data: {score:score, name:name},
        success: function(res){
            if(res.level < 1.2){
             localStorage.setItem('level', res.level);
            window.location.replace('/level1');
            }
            else{
                 var rsplit = res.level.toString().split('.');
             var str = "level"+rsplit[0]+"-"+"section"+rsplit[1];

            localStorage.setItem('level', res.level);
            window.location.replace('/'+str);

            }
            
        }

        
    });

  });







    });
    </script>